@font-face{
    font-family:'Iansui094-Regular';
    src: url('../font/Iansui094-Regular.ttf'), 
        url('../font/Iansui094-Regular.woff'); 
}
#tableContainer{
        width: 1755px;
        height: 1241px;
        float:left;
        position: absolute;
        /*background-color: yellow;*/
    }

#proposer{
    width: 50px;
    height: 300px;
    float: left;
    position: absolute;
    left: 1325px;
    top: 975px;
    line-height: 40px;
    font-size: 52px;
    writing-mode: vertical-rl;
}

#content_1{
    width: 180px;
    height: 900px;
    float: left;
    position: absolute;
    left: 960px;
    top: 220px;
    font-size: 36px;
    color: #4C4845;
    writing-mode: vertical-rl;
}

#content_2{
    width: 180px;
    height: 900px;
    float: left;
    position: absolute;
    left: 560px;
    top: 220px;
    font-size: 36px;
    color: #4C4845;
    writing-mode: vertical-rl;
}

#content_3{
    width: 180px;
    height: 900px;
    float: left;
    position: absolute;
    left: 160px;
    top: 220px;
    font-size: 36px;
    color: #4C4845;
    writing-mode: vertical-rl;
}

#topic_r1{
    font-size: 52px;
    width: 80px;
    height: 900px;
    float: left;
    position: absolute;
    left: 1130px;
    top: 170px;
    line-height: 40px;
    writing-mode: vertical-rl;
}

#topic_r2{
    font-size: 52px;
    writing-mode: vertical-rl;
    width: 80px;
    height: 900px;
    float: left;
    position: absolute;
    left: 730px;
    top: 170px;
    line-height: 40px;
    writing-mode: vertical-rl;
}

#topic_r3{
    font-size: 52px;
    writing-mode: vertical-rl;
    width: 80px;
    height: 900px;
    float: left;
    position: absolute;
    left: 330px;
    top: 170px;
    line-height: 40px;
    writing-mode: vertical-rl;
}


div{
    color: #631c1c;
    font-family: 'Iansui094-Regular' ;
}
